<div class="modal-body">
<form id="cnsForm" >
    {{ cnsForm.csrf_token }}
    {{ cnsForm.jsonString(hidden='true') }}
    {{ cnsForm.address.label }}
    {%- if session["address"] -%}
    {{ session["address"] }} <br />
    {% else %}
    {{ cnsForm.address(style="width: 75%") }} <br />
    {%- endif -%}
    {{ cnsForm.domain.label }} {{ cnsForm.domain(style="width: 75%") }}<br>
    {{ cnsForm.aRecord.label }} {{ cnsForm.aRecord(style="width: 75%") }}<br>
    {{ cnsForm.aaaaRecord.label }} {{ cnsForm.aaaaRecord(style="width: 75%") }}<br>
    {{ cnsForm.cName.label }} {{ cnsForm.cName(type="text", style="width: 75%", rows=6, wrap=true) }}<br>
    {{ cnsForm.mxRecord.label }} {{ cnsForm.mxRecord(type="text", style="width: 75%", rows=6, wrap=true) }}<br>
    {{ cnsForm.txtRecords.label }} {{ cnsForm.txtRecords(type="text", style="width: 75%", rows=6, wrap=true) }}<br>
    {{ cnsForm.signature_hash.label }} {{ cnsForm.signature_hash(hidden=true) }}<br/>
    {{ cnsForm.signature.label }} {{ cnsForm.signature(hidden=true) }}<br/>

</form>

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" id="prep-cns-btn">Prepare Signature</button>
        <button type="button" class="btn btn-dark" id="dns_send_signed" disabled>Submit to blockchain</button>
</div>
<script type="text/javascript">
document.getElementById('signature').addEventListener("change",sign_json);


{% if session["address"] %}
const addy = document.getElementById('address');
addy.style = "width: 75%";
addy.readOnly = true;
{% endif %}

function update_json() {
  const form = document.getElementById('cnsForm');
  const fd = new FormData();
  const props = {};
  for (let element of form.elements) {
    if (element.type !== "submit") {
      if (['jsonString', 'domain', 'csrf_token', 'signature', 'signature_hash'].indexOf(element.name) < 0) {
        props[element.name] = element.value;
        fd.append(element.name, element.value);
      }
    }
    element.visibility = 'hidden';
  }
  const json = document.getElementById('jsonString');
  json.value = JSON.stringify(props);
}

function sign_json() {
  var field1 = document.getElementById('jsonString');
  var obj = JSON.parse(field1.value);
  var metadata = JSON.parse(obj.metadata_signature);
  var sig = document.getElementById('signature').value;
  console.log(sig);
  metadata["signature"] = sig;
  console.log(metadata);
  obj.metadata_signature = JSON.stringify(metadata);
  console.log(obj);
  field1.readonly = false;
  field1.value = JSON.stringify(obj);
  field1.readonly = true ;
}


prep-cns-btn.onclick = async (e) => {
        update_json();
        let response = await fetch("{{ base_url }}/api/proxy_sign", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(document.getElementById('jsonString').value)
        })

        let text = await response.text(); // read response body as text
        var content = document.getElementById('jsonString');
        content.value = text;
        content.readOnly = true;
        var obj = JSON.parse(text)
        console.log(text);
        content.value = JSON.stringify(obj);
        hash = document.getElementById('signature_hash');
        hash.style.visibility = 'visible';
        hash.value = JSON.parse(obj["metadata_signature"]).signature_hash;
        var sig = document.getElementById('signature');
        sig.visibility = 'visible';
        send_btn = document.getElementById('dns_send_signed');
        send_btn.disabled = false;
        send_btn.visibility = 'visible';

        // insert sign message
        var newNode = document.createElement("p");
        newNode.innerHTML = 'Sign the following hash to prove cryptographic ownership of the address and asset';
        var parent = hash.parentNode;
        parent.insertBefore(newNode, hash);
    };

dns_send_signed.onclick = async (e) => {
        sign_json();
        console.log(JSON.stringify(document.getElementById('jsonString').value))
        let response = await fetch("{{ base_url }}/api/proxy/cns", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(document.getElementById('jsonString').value)
        })

        let text = await response.text(); // read response body as text
        var obj = JSON.parse(text);
        if (obj.sent) {
          window.location.href = obj.location;
        } else { alert(obj.error); }
    };

</script>
