{% extends "base.html.jinja" %}
{% block title %}Squawker{% endblock %}
{% if form.address.errors %}
    <ul class="errors">
    {% for error in form.address.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% block leftcolumn %}
{% if session['address'] %}
    {% include "profile.html.jinja" %}
{% else %}
    {% include "login_banner.html.jinja" %}
{% endif %}
{% endblock %}
{% block content %}
<form method="POST" action="/update_profile">
    {{ form.csrf_token }}
    {{ form.address.label }} {{ form.address(size=20) }}<br>
    <input type="submit" value="Update Profile">
</form>
{% endblock %}
{% block rightcolumn %}
{% include "wallet.html.jinja" %}
{% endif %}
{% endblock %}