{% extends "base.html.jinja" %}
{% block title %}Squawker{% endblock %}
{% block leftcolumn %}
{% include "sidebar.html.jinja" %}
{% endblock %}
{% block content %}
{% include "cns.html.jinja" %}
{% endblock %}
{% block rightcolumn %}
{% include "wallet.html.jinja" %}
{% endblock %}