{% extends "base.html.jinja" %}
{% block title %}Squawker{% endblock %}
{% block content %}
{% include "kaw.html.jinja" %}
{% endblock %}
{% block rightcolumn %}
{% if session['address'] %}
    {% include "full_profile.html.jinja" %}
{% else %}
    {% include "login_banner.html.jinja" %}
{% endif %}
{% endblock %}