<div>
    {% for kaw in messages %}
    <div class="kaw">
        {% set profile = kaw["profile"] %}
        {% include "profile.html.jinja"  %}
        <div class="kaw_text">
        <p>{{ kaw["text"] }}</p>
        </div>
    </div>
    {% endfor %}
</div>