<div>
    {% for kaw in messages %}
    <div class="kaw">
        {% set profile = kaw["profile"] %}
        {% include "profile.html.jinja"  %}
        <div class="kaw_text">
        <p>{{ kaw["text"] }}</p>
        </div>
    </div>
        {% if loop.cycle(False, False, True, False, False)  %}
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0684497438635003"
                 crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-format="fluid"
                 data-ad-layout-key="-gh-2h-2s-4o+12g"
                 data-ad-client="ca-pub-0684497438635003"
                 data-ad-slot="3857153910"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        {% endif %}
    {% endfor %}
</div>