
<div class="h2">Instructions</div> <br />

Sign In <br />
<p> 1. Hit Sign in button <br/> </p>
<p> 2. Open Raven Core Sign Message page</p><br/>
<img src="{{ base_url }}/static/Step2.PNG" style="width: 100%"><br/>
<p> 3. (Optional) Use NFT name to find desired wallet address.<br/>
4. Copy message to sign from site to wallet.<br/>
    5. Get the address into the wallet (need to look up if not using NFT)<br/>
    6. Sign Message in wallet and put into site <br/>
    7. Sign in.</p> <br/>
<img src="{{ base_url }}/static/Step3.PNG" style="width: 100%"><img src="{{ base_url }}/static/Step4.PNG" style="width: 100%"><br/>
<br/>
Kaw using the Core Wallet.<br>

<p> 1. Sign in to the site using the same address each time. </p>

<p> 2. Generate a Kaw on the kaw message page.</p>

<p> 3. Hit the Kaw button</p>

<p> 4. The site will convert the message to json ready to be signed. Copy the signiture_hash value. (in the future I hope to have it fill in the signature hash box but eh.</p>

<p> 5. Open your Raven core wallet. </p>

<p> 6. Navigate to sign message ( File -> Sign Message) </p>

<p> 7. Paste the signature hash in the message box.</p>

<p> 8. Make sure the address to sign it is the one you are logged in with.</p>

<p> 9. Fill in the signature field with the signature.</p>

<p> 10. Hit Send signed KAW! button. <p />

<p> 11. Refresh your browser in a few minutes to see your new message.</p>

<p> These messages do have a cost of 0.02 RVN each. Donations are currently funding blockchain transactions. To donate send RVN to RMFRzEJrtt6EiFgBNJugLXLEx6PU2z5rYn </p>