Instructions

Kaw using the Core Wallet.<br>

Just don't it's too complicated.
<!-- Commenting this out but it's still here
<p> 1. Wallet > Options > Wallet > Enable coin control features </p>

<p> 2. Generate a Kaw using the site to get an IPFS hash for your message.</p>

<p> 3. Go to Transfer Assets tab</p>

<p> 4. Choose Input with UTXO received on your Squawker address. It is best to choose a UTXO with the exact value you need to send. That way you wont send change off to another address. If you don't have a perfect change UTXO choose a UTXO sent to another address and send the perfect change needed to your Squawker RVN address. Then you can use that perfect change UTXO going forward.</p>

<p> 5. Check the Asset field has filled to SQUAWKER</p>

<p> 6. Enter your Squawker RVN address into the Pay To field </p>

<p> 7. Set the amount to the right value for your action.</p>

<p> 8. Put the IPFS hash in the Memo field.</p>

<p> 9. Send the SQUAWKER Asset back to yourself.</p>

<p> This creates a Flag on the blockchain record that can easily be interpreted as a json formatted Squawker Kaw. The amount of SQUAWKER sent allows those interpreting the message to know if it is a Kaw, a market listing, or a profile update.</p>
-->
