{% from 'bootstrap/form.html' import render_form %}
<div>
    {% if session['email'] %}
        {% if not session['address'] %}
            <a href="/register_test"> Register with your address </a>
        {% endif %}
    {% else %}
        <a href="/login-google"><img src="/static/btn_google_signin_dark_normal_web.png"></a>
    {% endif %}

</div>

<p>    =========================<br>
    BADGUYTY's To Do list:<br>
    =========================
    <p style="text-decoration: line-through;">1. Create regestration form</p>
    <p style="text-decoration: line-through;">  2. Create profile database field (thinking storing it in json). </p>
    <p style="text-decoration: line-through;">  3. Create profile form <br>
        * Load Existing Profile data from json into edit form<br>
        * Save data into json form</p>
    <p style="text-decoration: line-through;">  4. Create process to register the user and record their rvn address that will be used for the multisig address </p>
    <p style="text-decoration: line-through;">  5. Add way to store p2sh script for 1 of 2 signitures (database field?) </p>
    <p> 6. Add methods in python to handle using p2sh calls for making kaws </p>
    <p> 7. Create Kaw form </p>
    <p> 8. Create Kaw submission endpoint. </p>
    ==========================<br>
             Market<br>
    ===========================<br>
    <p> 9. Create market submission form </p>
    <p> 10. Create market view page </p>
    <p> 11. Create market submission endpoint. </p>
    <p> 12. Create method for atomic transaction creation in python. </p>
    <p> 13. Create method for completing atomic transactions in python. </p>
    ============================<br>
             BLOG<br>
    ============================<br>
    <p> 14. create a Blog submission form </p>
    <p> 15. Create a Blog summary view page </p>
    <p> 16. Create a full Blog view page </p>
    ===============================<br>
              Video<br>
    ===============================<br>
    <p> 17. Create a Video metadata submission page </p>
    <p> 18. Create a Video player page. </p>
    ===============================<br>
    Encrypted Content and portal <br>
    ================================<br>
    <p> 19. Tap into community standards for creation, viewing, and consuming blockchain verified digital rights to media </p>



</p>