{% if not profile %}
    {% set profile = {"picture": session["profile_picture"], "name": session["name"], "address": session["address"]} %}
{% endif %}
<div class="table text-white bg-secondary">
    <table class="table">
        <td>
            <div>
            <div><img src="https://cloudflare-ipfs.com/ipfs/{{ profile["picture"] }}" class="rounded-circle float-start" alt="" ></div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="row">{{ profile["name"]|e }}</div>
                <div class="row">@{{ profile["address"]|e }}</div>
            </div>
        </td>
    </table>
</div>
