{% if reply_txid %}
<div class="table-borderless" >
    <div class="row">
        <td>
            <button class="btn btn-sm">Reply</button>
        </td>
        <td>
            <button class="btn btn-sm">Mimic</button>
        </td>
        <td>
            <button class="btn btn-sm">Embellish</button>
        </td>
    </div>
</div>

{% endif %}