{% if reply_txid %}
<div class="table-borderless bg-primary" >
    <div class="d-flex justify-content-around">
        <div class="p-1">
            <a class="btn btn-sm btn-outline-dark shadow" href="/reply/{{ reply_txid }}">Reply</a>
        </div>
        <div class="p-1">
            <a class="btn btn-sm btn-outline-dark shadow" href="/like/{{ reply_txid }}/{{ profile['address'] }}">Like</a>
        </div>
        <div class="p-1">
            <button class="btn btn-sm btn-outline-dark shadow">Mimic</button>
        </div>
        <div class="p-1">
            <button class="btn btn-sm btn-outline-dark shadow">Embellish</button>
        </div>
    </div>
    <br>
</div>

{% endif %}