{% if session['address'] %}
    {% include "profile.html.jinja" %}
    {% set user_links = [{"href": "/logout", "text": "Logout"}] %}
    <div class="fluid-container text-black p-1">
        {% include "modals/modal.html.jinja" %}
    </div>

{% else %}
    {% include "login_banner.html.jinja" %}
{% endif %}