<div class="container-fluid blue-text" align="left" >

    =====================<br>
    BADGUYTY's To Do list:<br>
    =====================<br/>
            Functionality<br>
    ======================<br>
    Modals for <br>
        Kaw Submission<br>
        Reply submission <br>
    <br>
    Kaw/reply display Jinja Macro<br>
    Async reply loading <br>
    Nested Replies<br>
    <br>
    Full Async / Dynamic Pageloads
    (Infinite Scroll)<br>
    <br>

    Displayable profile pages<br>
    Make Detailed profile submission/edit page<br>
    <br>
    =====================<br>
             Market<br>
    =====================<br>
    <p> 1. Market submission form <br>
<p style="...">    2. Create market view page </p><br>
        3. Create market submission endpoint. <br>

    =====================<br>
              Video<br>
    =====================<br>
    <p> 1. Create a Video metadata submission page <br>
        2. Create a Video player page. </p>
    =====================<br>
    Encrypted Content and portal <br>
    =====================<br>
    <p> 1. Tap into community standards for creation, viewing, and consuming blockchain verified digital rights to media </p>
</div>

