<div>
    <div>
        <a href="https://github.com/Tylerlhess/squawker" class="text-white" >Github <img src="{{ base_url }}/static/GitHub-Mark-32px.png"></a>
    </div>
    <div class="h2">How To Sign in</div>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-gY8sZJb1Gw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
    <a href="https://chrome.google.com/webstore/detail/ravencoin-sign-message-ex/npfghnmhcandpllgkaofddkkegjmcoha" class="h2" > Get the extension</a>
    <div id="accordion">
        <div class="card bg-black">
            <div class="card-header bg-secondary ">
              <a class="collapsed btn shadow" data-bs-toggle="collapse" href="#collapseOne">
                NFT Sign in (Video Tutorial)
              </a>
            </div>
            <div id="collapseOne" class="collapse bg-secondary" data-bs-parent="#accordion">
              <div class="card-body">
                <p>Instructional video can be found here.</p> <br>
                <a class="text-white" href="https://twitter.com/i/status/1528702954794110979" target="_blank" rel="noopener">@RavenRebels Twitter</a> <br><br>
                <div class="container-fluid bg-white p-0">
                    <iframe class="p-0" src="https://sign.ravenrebels.com" title="Ravenrebels sign in" style="width: 100%" height="900" scrolling="auto"></iframe>
                </div>
              </div>
        </div>
      </div>

      <!-- <div class="card bg-black">
        <div class="card-header bg-secondary">
          <a class="collapsed btn shadow" data-bs-toggle="collapse" href="#collapseTwo">
            Core wallet sign in (Video Tutorial)
          </a>
        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
          <div class="card-body bg-secondary">
            <div>
                Kaw Instructional Video<br>
                <video width="320" height="240" controls>
                  <source src="/static/kaw_instructional_video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <br>
                Reply Instructional Video<br>
                <video width="320" height="240" controls>
                  <source src="/static/reply_video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                {% include "kaw_instructions.html.jinja" %}
            </div>
          </div>
        </div>
      </div> -->

    <!--  <div class="card">-->
    <!--    <div class="card-header">-->
    <!--      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">-->
    <!--        Mango Farm Assets Wallet-->
    <!--      </a>-->
    <!--    </div>-->
    <!--    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">-->
    <!--      <div class="card-body">-->
    <!--        Lorem ipsum..-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->

    </div>

    <!-- <div> <a href="https://squawker.app/market" class="text-white">MARKET</a></div>-->
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0684497438635003"
     crossorigin="anonymous"></script>
<!-- Right sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0684497438635003"
     data-ad-slot="9227197999"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>