<div>
    <div> <a href="https://github.com/Tylerlhess/squawker" >Github <img src="static/GitHub-Mark-32px.png"></a></div>
    <!-- Commenting this wallet out for now as it doesn't have the functionality yet. -->
    <!-- <iframe src="https://www.mangofarmassets.com/wallet" title="MangoFarms Wallet" width="500" height="600"></iframe> -->
    <div>
        {% include "kaw_instructions.html.jinja" %}
    </div>
    <div> <a href="https://squawker.app/market" >MARKET</a></div>
</div>